.App {
  text-align: center;
  background-color: lightblue;
  max-width: 1000px;
  margin: auto;
  border-radius: 20px;
}

.App-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: blue;
  margin-top: 100px;
  margin-bottom: 50px;
}

button {
  background-color: orange;
}

button:hover {
  background-color: darkorange;
}

.file-selection {
  text-align: center;
}

.choice {
  margin-left: 10%;
}

.text-box {
  width: 500px;
  white-space: pre-line;
  margin: auto;
}
